# Node modules
node_modules/

# Build output
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Editor folders and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
.DS_Store